In [9]:
# import csv
import pandas as pd

df_list = pd.read_csv('input/zipcodes_all.csv')
df_samples = df_list.sample(5)
df_samples

       zip_code             city   latitude   longitude state
38617     89030  North Las Vegas  36.206419 -115.123180    NV
4991      13435         Prospect  43.305156  -75.150183    NY
13305     30572           Suches  34.731084  -84.079430    GA
30737     68759          Newport  42.700145  -99.318120    NE
27445     61441            Ipava  40.337555  -90.304580    IL