In [4]:
import re
import pandas as pd


file = 'gender names.csv'
df = pd.read_csv(file)

df.head()
# re.split("( )","I'm a test")

  nameprimary     gender first_name  count
0         NaN  Not Known        NaN      1
1     0LUFEMI  Not Known    0lufemi      1
2    18991995  Not Known   18991995      1
3    19101988  Not Known   19101988      1
4    19101998  Not Known   19101998      1